# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = "../WeatherPy/output_data/cities.csv"
city_data_df = pd.read_csv(city_data)
city_data_df.head()

,City,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country
0,hobart,-42.8794,147.3294,62,53.60,40,5.75,AU
1,ushuaia,-54.8000,-68.3000,36,65.44,74,2.73,AR
2,narsaq,60.9167,-46.0500,30,37.40,90,47.18,GL
3,lompoc,34.6391,-120.4579,71,61.00,1,3.44,US
4,new norfolk,-42.7826,147.0587,62,53.60,40,5.75,AU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Find max humidity for heatmap intensity 
city_data_df["Humidity"].max()

100

In [5]:
# Create a map using state centroid coordinates to set markers
locations = city_data_df[['Latitude', 'Longitude']]
humidity = city_data_df["Humidity"]


# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=100, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows with null values.

In [6]:
perfect_weather = pd.DataFrame(city_data_df.loc[(city_data_df["Max Temperature"] >= 80) \
                                   & (city_data_df["Max Temperature"] <= 90)
                                   & (city_data_df["Humidity"] <= 60)
                                   & (city_data_df["Cloudiness"] <= 3)])

In [7]:
perfect_weather

,City,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country
142,ocos,14.5094,-92.1933,45,89.60,1,5.75,GT
160,ancud,-41.8697,-73.8203,34,80.60,0,6.91,CL
208,karasburg,-28.0167,18.7500,13,85.19,0,10.85,NaN
250,terra rica,-22.7094,-52.6169,56,81.95,0,4.54,BR
317,itarema,-2.9248,-39.9167,58,87.98,3,15.82,BR
327,chacabuco,-34.6417,-60.4739,41,87.01,0,4.00,AR
531,corumba,-19.0092,-57.6533,43,89.60,0,5.75,BR

In [8]:
perfect_weather.dropna(how='any', inplace=True)

In [9]:
perfect_weather

,City,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country
142,ocos,14.5094,-92.1933,45,89.60,1,5.75,GT
160,ancud,-41.8697,-73.8203,34,80.60,0,6.91,CL
250,terra rica,-22.7094,-52.6169,56,81.95,0,4.54,BR
317,itarema,-2.9248,-39.9167,58,87.98,3,15.82,BR
327,chacabuco,-34.6417,-60.4739,41,87.01,0,4.00,AR
531,corumba,-19.0092,-57.6533,43,89.60,0,5.75,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = perfect_weather
hotel_df["Hotel Name"] = ""
hotel_df

,City,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country,Hotel Name
142,ocos,14.5094,-92.1933,45,89.60,1,5.75,GT,
160,ancud,-41.8697,-73.8203,34,80.60,0,6.91,CL,
250,terra rica,-22.7094,-52.6169,56,81.95,0,4.54,BR,
317,itarema,-2.9248,-39.9167,58,87.98,3,15.82,BR,
327,chacabuco,-34.6417,-60.4739,41,87.01,0,4.00,AR,
531,corumba,-19.0092,-57.6533,43,89.60,0,5.75,BR,

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():

    latitude = row["Latitude"]
    longitude = row["Longitude"]
    city = row["City"]
    
    params = {
    "location": (f"{latitude},{longitude}"),  
    "radius": 5000,
    "keyword": "hotel",
    "type": "lodging",
    "key": g_key
    }

    # Assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
   # Extract results
    results = response['results']
    
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
        print(f"Hotel in {city} is {results[0]['name']}.")
    except (KeyError, IndexError):
        hotel_df.loc[index, "Hotel Name"] = "No result"''
        print("No results. Skipping...")
        
    print("------------------------------------------")

No results. Skipping...
------------------------------------------
Hotel in ancud is Panamericana Hotel Ancud.
------------------------------------------
Hotel in terra rica is Shamballa Hotel.
------------------------------------------
Hotel in itarema is Pousada Villa Del Lótus.
------------------------------------------
Hotel in chacabuco is HOTEL ITALIA.
------------------------------------------
Hotel in corumba is Nacional Palace Hotel.
------------------------------------------

In [13]:
hotel_df

,City,Latitude,Longitude,Humidity,Max Temperature,Cloudiness,Wind Speed,Country,Hotel Name
142,ocos,14.5094,-92.1933,45,89.60,1,5.75,GT,No result
160,ancud,-41.8697,-73.8203,34,80.60,0,6.91,CL,Panamericana Hotel Ancud
250,terra rica,-22.7094,-52.6169,56,81.95,0,4.54,BR,Shamballa Hotel
317,itarema,-2.9248,-39.9167,58,87.98,3,15.82,BR,Pousada Villa Del Lótus
327,chacabuco,-34.6417,-60.4739,41,87.01,0,4.00,AR,HOTEL ITALIA
531,corumba,-19.0092,-57.6533,43,89.60,0,5.75,BR,Nacional Palace Hotel

In [14]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [15]:
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))